/* Determine dark/light mode based on user's system preferences */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(13, 17, 23);
        --font-color: rgb(201, 209, 217);
        --highlight-color: plum;
        --nav-color: rgb(13, 17, 23);
        --menu-color: rgb(35, 35, 35);
        --shadow-color: black;
    }

    /* Specify color of SVG buttons */
    .control svg {
        fill: white;
    }
    .control:hover svg {
        fill: var(--highlight-color);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --font-color: rgb(22, 22, 22);
        --highlight-color: rgb(52, 120, 246);   /* blue */
        --nav-color: rgb(238, 238, 242);        /* Used by Firefox light theme */
        --menu-color: rgb(245, 245, 245);    /* TensorBoard light theme */
        --shadow-color: gray;
    }

    /* Specify color of SVG buttons */
    .control svg {
        fill: var(--highlight-color);
    }
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);

    /* Try to use the "system" sans serif font; -apple-system for macOS, Cantarell for GNOME */
    font-family: -apple-system, Cantarell, 'Segoe UI', Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;              /* Allow nav bar to reach to the edges */
    overflow-y: hidden;     /* Never show scroll bars for the entire page */
}

header {
    border-bottom: rgb(55, 59, 65) solid 1px;
    display: flex;
    box-shadow: 0rem 0.3rem 0.3rem var(--shadow-color);
    height: 1.75rem;
    justify-content: space-between;
    z-index: 999;        /* Make sure nav bar is on top */
}
.spacer {
    flex: 1;
}
#select-run-label {
    text-align: center;
    vertical-align: middle;
}

.content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

/* Top bar and menu colors, copied from GitHub */
.nav {
    background-color: var(--nav-color);
    color: var(--font-color);
    padding: 1rem 2rem;
}
.nav-item {
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0.75rem;  /* Bit more spacing between nav items */
}

/* Clickable items in menu or nav bar */
.control {
    border: none;
    cursor: pointer;
    user-select: none;
}
.control:hover {
    color: var(--highlight-color);
}
/* Since we use SVG buttons we need to specify a nonzero size */
.control svg {
    height: 1.5rem;
}


/*** Experiment menu ***/
.menu {
    width: 20rem !important; /* Override default width of modal windows */
}
.menu-list {
    line-height: 1.8;       /* Slightly more space between items */
    list-style-type: none;  /* Remove bullets */
}
.control input {
    display: none;          /* Hide the checkbox or radio button */
}

/* List of experiments */
.experiment-list {
    padding: 0;             /* Remove indentation */
}
.caret {
    display: inline-block;
    font-size: small;
    height: 1rem;
    margin-right: 0.4rem;
    vertical-align: bottom;
    width: 1rem;
}
/* Rotate the caret when the checkbox is checked & animate the transition */
.experiment input:checked + .caret {
    transform: rotate(-90deg);
    transition: ease-in 0.2s;
}
/* The name of the selected run should be in bold and highlighted */
.run input:checked + span {
    font-weight: bold;
    color: var(--highlight-color);
}

.no-runs-found {
    position: absolute;
    text-align: center;
    vertical-align: middle;
}