<!DOCTYPE html>
<html>
<head>
  <title>Whisper</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
  <link rel="stylesheet" type="text/css" href="/static/main.css" />
</head>
<body>
  <!--- Navigation Bar --->
  <header class="nav">
    <span class="nav-item">Whisper</span>
    <span class="control nav-item" title="Full Screen Mode" onclick="document.documentElement.requestFullscreen();">
      <!-- Full Screen Icon -->
      <svg viewBox="0 0 512 512">
        <polygon points="126.533,102.4 199.111,102.4 199.111,68.267 68.267,68.267 68.267,199.111 102.4,199.111 102.4,126.538 198.422,222.558 222.556,198.423"/>
        <polygon points="222.557,313.581 198.422,289.445 102.4,385.467 102.4,312.889 68.267,312.889 68.267,443.733 199.111,443.733 199.111,409.6 126.538,409.6 "/>
        <polygon points="409.6,312.889 409.6,385.467 313.578,289.444 289.444,313.578 385.462,409.6 312.889,409.6 312.889,443.733 443.733,443.733 443.733,312.889 "/>
        <polygon points="312.889,68.267 312.889,102.4 385.467,102.4 289.444,198.423 313.578,222.558 409.6,126.538 409.6,199.111 443.733,199.111 443.733,68.267 "/>
      </svg>
    </button>
  </header>
  <div class="container">
    <!--- Sidebar --->
    <nav class="nav sidebar">
      <label class="control show-hide" title="Show/Hide Sidebar">
        <input type="checkbox"/>«
      </label>
      <h3>Experiments</h3>
      <div class="sidebar-section">
        <ul class="sidebar-list experiment-list">
          {% for exp_name, runs in experiments.items() %}
          <label>
            <li class="control experiment">
              <input type="checkbox" onchange="
                const runList = document.getElementById('run-list-{{ exp_name }}');
                runList.style.display = this.checked ? 'none' : 'block';
                "/>
              <span class="caret">^</span> {{ exp_name }}
            </li>
          </label>
          <ul class="run-list sidebar-list" id="run-list-{{ exp_name }}">
            {% for run in runs %}
            <label for="{{ exp_name }}/{{ run }}">
              <li class="control run">
                <input type="radio" id="{{ exp_name }}/{{ run }}" name="selected-run"/>
                <span>{{ run }}</span>
              </li>
            </label>
            {% endfor %}
          </ul>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <div class="content">
      <h3>How this works</h3>
      <ul>
        {% for instruction in instructions %}
        <li> {{ instruction }} </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>