/* Determine dark/light mode based on user's system preferences */
@media (prefers-color-scheme: dark) {
    :root {
        --font-color: rgb(201, 209, 217);
        --bg-color: rgb(13, 17, 23);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --font-color: #424242;
        --bg-color: #fff;
    }
}

body {
    background-color: var(--bg-color);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;              /* Allow nav bar to reach to the edges */
    overflow-y: hidden;     /* Never show scroll bars for the entire page */
}

header {
    border-bottom: rgb(55, 59, 65) solid 1px;
    display: flex;
    filter: drop-shadow(0px 4px 4px black);
    height: 1.75rem;
    justify-content: space-between;
}

/* Contains the sidebar and the content div */
.container {
    display: flex;
    padding: 0;
}

.content {
    color: var(--font-color);
    margin: 2rem;
}

/* Top bar and sidebar colors, copied from GitHub */
.nav {
    background-color: rgb(23, 27, 33);
    color: rgb(240, 246, 252);
    padding: 1rem 2rem;
}

.nav-item {
    font-size: 1.5rem;
    font-weight: bold;
}


/*** Sidebar ***/
.sidebar {
    background-color: rgb(35, 35, 35);
    border-right: rgb(55, 59, 65) solid 1px;
    float: left;
    height: calc(100vh - 2rem);    /* Height of the entire page minus the nav bar */
    width: 16rem;
}
.sidebar-hidden {
    left: -14rem;
    position: absolute;
}
.sidebar-list {
    line-height: 1.8;       /* Slightly more space between items */
    list-style-type: none;  /* Remove bullets */
}
.sidebar-section {
    border-top: rgb(55, 59, 65) solid 1px;
    overflow-y: auto;
}

/* Clickable sidebar items */
.control {
    cursor: pointer;
    user-select: none;
}
.control:hover {
    color: plum;
}
.control input {
    display: none;          /* Hide the checkbox */
}
.show-hide {
    float: right;
}

/* List of experiments */
.experiment-list {
    padding: 0;             /* Remove indentation */
}
.caret {
    display: inline-block;
    font-size: small;
    margin-right: 6px;
    transform: rotate(180deg);
}
/* Rotate the caret when the checkbox is checked & animate the transition */
.experiment input:checked + .caret {
    transform: rotate(90deg);
    transition: ease-in 0.2s;
}
/* The name of the selected run should be in bold and plum */
.run input:checked + span {
    font-weight: bold;
    color: plum;
}