/* Determine dark/light mode based on user's system preferences */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(13, 17, 23);
        --font-color: rgb(201, 209, 217);
        --highlight-color: plum;
        --nav-color: rgb(13, 17, 23);
        --sidebar-color: rgb(35, 35, 35);
        --shadow-color: black;
    }

    /* Specify color of SVG buttons */
    .control svg {
        fill: white;
    }
    .control:hover svg {
        fill: var(--highlight-color);
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: white;
        --font-color: rgb(22, 22, 22);
        --highlight-color: rgb(52, 120, 246);   /* blue */
        --nav-color: rgb(238, 238, 242);        /* Used by Firefox light theme */
        --sidebar-color: rgb(245, 245, 245);    /* TensorBoard light theme */
        --shadow-color: gray;
    }

    /* Specify color of SVG buttons */
    .control svg {
        fill: var(--highlight-color);
    }
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    margin: 0;              /* Allow nav bar to reach to the edges */
    overflow-y: hidden;     /* Never show scroll bars for the entire page */
}

header {
    border-bottom: rgb(55, 59, 65) solid 1px;
    display: flex;
    box-shadow: 0rem 0.3rem 0.3rem var(--shadow-color);
    height: 1.75rem;
    justify-content: space-between;
    z-index: 999;        /* Make sure nav bar is on top */
}
.spacer {
    flex: 1;
}

/* Contains the sidebar and the content div */
.container {
    display: flex;
    padding: 0;
}

.content {
    margin: 2rem;
}

/* Top bar and sidebar colors, copied from GitHub */
.nav {
    background-color: var(--nav-color);
    color: var(--font-color);
    padding: 1rem 2rem;
}
.nav-item {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0.75rem;  /* Bit more spacing between nav items */
}

/* Clickable items in sidebar or nav bar */
.control {
    border: none;
    cursor: pointer;
    user-select: none;
}
.control:hover {
    color: var(--highlight-color);
}
/* Since we use SVG buttons we need to specify a nonzero size */
.control svg {
    height: 1.5rem;
}


/*** Sidebar ***/
.sidebar {
    background-color: var(--sidebar-color);
    border-color: rgb(55, 59, 65);
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    box-shadow: 0.25rem 0.25rem 0.3rem var(--shadow-color);
    float: left;
    overflow: scroll;
    /* resize: vertical; */
    min-width: 10rem;
    width: 15rem;
    z-index: 1;     /* Stay above content but not the nav bar */
}
.sidebar-hidden {
    left: -14rem;
    position: absolute;
}
.sidebar-list {
    line-height: 1.8;       /* Slightly more space between items */
    list-style-type: none;  /* Remove bullets */
}
.sidebar-section {
    border-top: rgb(55, 59, 65) solid 1px;
    overflow-y: auto;
}
.control input {
    display: none;          /* Hide the checkbox or radio button */
}
.show-hide {
    float: right;
}

/* List of experiments */
.experiment-list {
    padding: 0;             /* Remove indentation */
}
.caret {
    display: inline-block;
    font-size: small;
    margin-right: 6px;
    transform: rotate(180deg);
}
/* Rotate the caret when the checkbox is checked & animate the transition */
.experiment input:checked + .caret {
    transform: rotate(90deg);
    transition: ease-in 0.2s;
}
/* The name of the selected run should be in bold and highlighted */
.run input:checked + span {
    font-weight: bold;
    color: var(--highlight-color);
}

.no-runs-found {
    position: absolute;
    text-align: center;
    vertical-align: middle;
}